LOG_LEVEL=debug

POSTGRES_URL=postgres://t3m8ch@localhost/productsdb
REDIS_URL=redis://dragonfly:6379/0

SESSION_COOKIE_SECURE=false
SESSION_COOKIE_DOMAIN=localhost:5173
ALLOW_ORIGINS=http://localhost:5173

ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456
ADMIN_EMAIL=admin@admin.ru
